<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./style copy.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Hello, world!</title>
    <script src="https://kit.fontawesome.com/8c7069a5b3.js" crossorigin="anonymous"></script>
  </head>
  <body>
    <%-include('./composant/navbar.ejs') %>

      <div class="container-fluid benz w-100">
        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner fs-3">
            <div class="carousel-item active">
              <img src="carousel-1.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block d-flex" style="margin-bottom: 30%;">
                <strong><h5 style="font-size: 35px;">Best Quality Ingrédient</h5></strong>
                <p>Some representative placeholder content for the first slide.</p>
                <button type="button" class="btn btn-warning btn-lg">View Menu</button>
                <button type="button" class="btn btn-success btn-lg">Book Table</button>
              </div>
            </div>
            <div class="carousel-item">
              <img src="carousel-2.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block" style="margin-bottom: 30%;">
                <h5>Second slide label</h5>
                <p>Some representative placeholder content for the second slide.</p>
                <button type="button" class="btn btn-warning btn-lg">View Menu</button>
                <button type="button" class="btn btn-success btn-lg">Book Table</button>
              </div>
            </div>
            <div class="carousel-item">
              <img src="carousel-3.jpg" class="d-block w-100" alt="...">
              <div class="carousel-caption d-none d-md-block" style="margin-bottom: 30%;">
                <h5>Third slide label</h5>
                <p>Some representative placeholder content for the third slide.</p>
                <button type="button" class="btn btn-warning btn-lg">View Menu</button>
                <button type="button" class="btn btn-success btn-lg">Book Table</button>
              </div>
            </div>
          </div>
        </div>
        <div class="container p-3">
          <div class="row">
            <div class="col p-4  badara">
              <p>Book A Table</p>
              <h2>Book Your Table For Private Dinners & Happy Hours</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                ates voluptatem cum voluptatibus ea ab, perspiciatis dign
              </p>
            </div>
            <div class="col">
            <section>
            <form action="input-sec">
            <div class="reservation-form">
            <form class="forma1">
            <input type="text" placeholder="Name" required>
            <input type="email" placeholder="Email" required>
            <input type="tel" placeholder="Mobile" required>
            <input type="date" placeholder="Date" required>
            <input type="time" placeholder="Time" required>
            <select  required>   
            <option value="" disabled selected>Guest</option>
            <option value="1">1 Guest</option>
            <option value="2">2 Guests</option>
            <option value="3">3 Guests</option>
            <option value="4">4 Guests</option>
            <option value="5">5+ Guests</option>
            </select>
            <button type="submit">Book Now</button>     
            </form>
            </div>
            </form>
            </section>
            </div>
            <div class="container p-5 m-5">
              <div class="row">
                <div class="col">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/aYLyvmzvZug?si=amzAH4RSxqy5lCVh" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
                <div class="col p-5 fs-3">
                  <p>About Us</p>
                  <h2>Cooking Since 1990</h2>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum, viverra quis sem.
                  </p>
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non vulputate. Aliquam metus tortor, auctor id gravida condimentum, viverra quis sem. Curabitur non nisl nec nisi scelerisque maximus. Aenean consectetur convallis porttitor. Aliquam interdum at lacus non blandit.
                  </p>
                  <button type="button" class="btn btn-dark bg-warning btn-lg">Book A Table</button>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col">
                  <p>Why Choose Us</p>
                  <h2>Our Key Features</h2>
                  <img src="image1.jpg" class="d-block manga1" alt="qq">
                  <div class="col">
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                      sit button dembo constuiernond del abla softhueudnjefnoz
                      xueufnrzaobig killler makkertfbf faueybcfyvbcinvbgqoipsjj
                    </p>
                    <div class="d-grid gap-2 col-6 me-auto">
                      <button class="btn btn-warning" type="button" style="width:400px;">Book A Table</button>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <h4>World’s best Chef</h4>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti atque natus rem quidem velit dicta impedit, harum quam perspiciatis vitae libero facilis quos pariatur vero possimus. Inventore commodi autem iusto.</p>
                  <svg class="burger" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path d="M61.1 224C45 224 32 211 32 194.9c0-1.9 .2-3.7 .6-5.6C37.9 168.3 78.8 32 256 32s218.1 136.3 223.4 157.3c.5 1.9 .6 3.7 .6 5.6c0 16.1-13 29.1-29.1 29.1L61.1 224zM144 128a16 16 0 1 0 -32 0 16 16 0 1 0 32 0zm240 16a16 16 0 1 0 0-32 16 16 0 1 0 0 32zM272 96a16 16 0 1 0 -32 0 16 16 0 1 0 32 0zM16 304c0-26.5 21.5-48 48-48l384 0c26.5 0 48 21.5 48 48s-21.5 48-48 48L64 352c-26.5 0-48-21.5-48-48zm16 96c0-8.8 7.2-16 16-16l416 0c8.8 0 16 7.2 16 16l0 16c0 35.3-28.7 64-64 64L96 480c-35.3 0-64-28.7-64-64l0-16z"/></svg>
                  <h4>Best quality products</h4>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti atque natus rem quidem velit dicta impedit, harum quam perspiciatis vitae libero facilis quos pariatur vero possimus. Inventore commodi autem iusto.</p>

                  <h4>Fastest door delivery</h4>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti atque natus rem quidem velit dicta impedit, harum quam perspiciatis vitae libero facilis quos pariatur vero possimus. Inventore commodi autem iusto.</p>
                </div>
                <div class="col">
                  <h4>Natural ingredients</h4>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti atque natus rem quidem velit dicta impedit, harum quam perspiciatis vitae libero facilis quos pariatur vero possimus. Inventore commodi autem iusto.</p>

                  <h4>Fresh vegetables & Meet</h4>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti atque natus rem quidem velit dicta impedit, harum quam perspiciatis vitae libero facilis quos pariatur vero possimus. Inventore commodi autem iusto.</p>
                  
                  <h4>Ground beef & Low fat</h4>
                  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti atque natus rem quidem velit dicta impedit, harum quam perspiciatis vitae libero facilis quos pariatur vero possimus. Inventore commodi autem iusto.</p>
                </div>
              </div>
              </div>
              </div>
            </div>
         </div>
        </div>
        <div class="container my-5 p-5 m-5 mb-5">
          <div class="row">
            <div class="col momora  border border-danger m-4">
              <h2>Burgers</h2>
              <p>
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora quas 
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora quas 
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora quas 
            </div>
            <div class="col momora2  border border-danger m-4">
              <h2>Snacks</h2>
              <p>
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora quas 
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora quas 
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora quas 
            </div>
            <div class="col momora border border-danger m-4">
              <h2>Beverages</h2>
              <p>
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora quas 
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora quas 
               Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora quas 
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
           <div class="col text-center p-3" style="text-align: center;">
              <p>Food Menu</p>
              <h2>Delicious Food Menu</h2>
              <button type="button" class="btn btn-warning btn-lg m-2  forza">Large button</button>
              <button type="button" class="btn btn-warning btn-lg m-2 forza">Large button</button>
              <button type="button" class="btn btn-warning btn-lg m-2 forza">Large button</button>
            </div>
          </div>
        </div>
        <div class="container">
        <div class="row ms-auto">
        <div class="col-8">
          <table border="1">
            <tr>
              <td class="d-flex align-items-center">
                <img class="rounded rounded-circle m-2 mx-3" src="menu-burger.jpg" alt="burger">
                <div class="texte">
                  <h2>Mini cheese Burger ................................................$9.5</h2>
                  <p>Lorem ipsum dolor sit amet elit. Phasel nec preti facil</p>
                </div>
              </td>
              <td></td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <img class="rounded rounded-circle m-2 mx-3" src="menu-burger.jpg" alt="burger">
                  <div class="texte">
                    <h2>Mini cheese Burger ................................................$9.5</h2>
                   <p>Lorem ipsum dolor sit amet elit. Phasel nec preti facil</p>
                  </div>
              </td>
              <td></td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <img class="rounded rounded-circle m-2" src="menu-burger.jpg" alt="burger">
                <div class="texte">
                  <h2>Mini cheese Burger ................................................$9.5</h2>
                  <p>Lorem ipsum dolor sit amet elit. Phasel nec preti facil</p>
                </div>
              </td>
              <td></td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <img class="rounded rounded-circle m-2" src="menu-burger.jpg" alt="burger">
                <div class="texte">
                  <h2>Mini cheese Burger ................................................$9.5</h2>
                  <p>Lorem ipsum dolor sit amet elit. Phasel nec preti facil</p>
                </div>
              </td>
              <td></td>
            </tr>
            <tr>
              <td class="d-flex align-items-center">
                <img class="rounded rounded-circle m-2" src="menu-burger.jpg" alt="burger">
                <div class="texte">
                  <h2>Mini cheese Burger ................................................$9.5</h2>
                  <p>Lorem ipsum dolor sit amet elit. Phasel nec preti facil</p>
                </div>
              </td>
              <td></td>
            </tr>
          </table>
        </div>
        <div class="col-4 burger2">
        </div>
        </div>
       </div>
      </div>
      <div class="container">
        <div class="row m-5 p-5 my-4 mx-3 text-center">
          <p>Our Team</p>
            <h3>Our Master Chef</h3>
          <div class="col ">
            <div class="card" style="width: 18rem;">
              <img src="team-1.jpg" class="card-img-top" alt="team-1">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
              <img src="team-2.jpg" class="card-img-top" alt="team-2">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem;">
              <img src="team-3.jpg" class="card-img-top" alt="team-3">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col moham m-4">
            <img  class="rounded rounded-circle" src="testimonial-3.jpg" alt="qqq3">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur odio quod eaque consectetur tempore perferendis voluptatum,.</p>
          </div>
          <div class="col moham m-4">
            <img  class="rounded rounded-circle" src="testimonial-4.jpg" alt="qqq3">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur odio quod eaque consectetur tempore perferendis voluptatum,.</p>
          </div>
          <div class="col moham m-4">
            <img  class="rounded rounded-circle" src="testimonial-1.jpg" alt="qqq3">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur odio quod eaque consectetur tempore perferendis voluptatum,.</p>
          </div>
        </div>
      </div>
      <div class="container m-5 p-5">
        <div class="row text-center">
          <p>Contact Us</p>
            <h3>Contact For Any Query</h3>
          <div class="col my-4 m-5">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24860.912476284575!2d-17.47507773652963!3d14.700441629877242!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xec1729ca1bf2a41%3A0x7c056ce772b26119!2sRadisson%20Blu%20Hotel%2C%20Dakar%20Sea%20Plaza!5e0!3m2!1sfr!2ssn!4v1730387729141!5m2!1sfr!2ssn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="iba1"></iframe>
          </div>
          <div class="col">
            <form action="/submit_form" method="POST">
              <div class="mb-3">
                  <label for="name" class="form-label"></label>
                  <input type="text" class="form-control" id="name" name="name" placeholder="Nom" required>
              </div>
              <div class="mb-3">
                  <label for="email" class="form-label"></label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
              </div>
              <div class="mb-3">
                  <label for="subject" class="form-label"></label>
                  <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
              </div>
              <div class="mb-3">
                  <label for="message" class="form-label" ></label>
                  <textarea class="form-control" id="message" name="message" rows="4" placeholder="Message" required></textarea>
              </div>
              <button type="submit" class="btn btn-warning">Envoyer</button>
          </form>
          </div>
        </div>
      </div>
      <div class="container m-5 p-5">
        <div class="row text-center">
          <p>Food Blog</p>
            <h3>Latest From Food Blog</h3>
          <div class="col">
            <img src="blog-1.jpg" alt="blog-1" style="border-radius: 20px;">
            <div class="para1">
            <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h3>
            <p>Lorem ipsum dolor sit amet elit. Neca pretim miura bitur facili ornare velit non vulpte liqum metus tortor. Lorem ipsum dolor sit amet elit. Neca pretim miura bitur facili ornare velit non vulpte</p>
            <button type="button" class="btn btn-warning btn-lg">Read More</button>
          </div>
          </div>
          <div class="col">
            <img src="blog-2.jpg" alt="blog-2" style="border-radius: 20px;">
            <div class="para2">
              <h3>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</h3>
              <p>Lorem ipsum dolor sit amet elit. Neca pretim miura bitur facili ornare velit non vulpte liqum metus tortor. Lorem ipsum dolor sit amet elit. Neca pretim miura bitur facili ornare velit non vulpte</p>
              <button type="button" class="btn btn-warning btn-lg">Read More</button>
          </div>
          </div>
         </div>
        </div>
        <div class="container-fluid p-5 m-5 senegal">
          <div class="row">
            <div class="col">
              <h2>Our Address</h2>
              <i class="fa-solid fa-location-dot social2"></i> 123 Street, New York, USA
              <div>
              <i class="fa-solid fa-phone social2"></i> +012 345 67890
              <div>
                <i class="fa-solid fa-envelope social2"></i> info@example.com
              </div>
              <div class="social">
                <i class="fa-brands fa-twitter"></i>
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-instagram"></i>
                <i class="fa-brands fa-linkedin"></i>
              </div>
            </div>
            </div>
            <div class="col magalou">
              <h2>Quick Links</h2>
              <div>Terms of use</div>
              <div> Privacy policy</div>
              <div>Cookies</div>
              <div>Help</div>
              <div>FQAs</div>
            </div>
            <div class="col">
              <h2>Newsletter</h2>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus veniam corporis beatae sed unde iusto debitis sint minima autem, voluptates magni atque porro expedita, accusamus voluptas id, quam deleniti quaerat.</p>
              <div class="input-group">
                <input type="text" aria-label="Last name" class="form-control karaba">
                <span class="input-group-text">Submit</span>
              </div>
            </div>
          </div>
        </div>
        <div class="daven">
          <p>Copyright © Your Site Name, All Right Reserved. Designed By HTML Codex</p>
        </div>
        
    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    
  </body>
</html>